<div [ngResizable]="data.resize" class="custom-bg-dark p-2 pl-3 pr-3 rounded h-100 resizable-widget">
<div ngbDropdown class="">
  <div>
    <button ngbDropdownToggle type="button" (click)="getNewCurrency()"
      class="dropdown-chart btn btn-ex-sm dropdown-toggle btn-block bg-black btn-drpodwn text-left select-coin-dropdown-toggle"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{this.currency_code}} - {{ this.base_currency}}
    </button>
  </div>
  <div ngbDropdownMenu class="dropdown-menu select-coin-list" id="dropHolder">
    <div class="table coin-select">
      <table style="width: 100%;">
        <tr>
          <th *ngFor="let count of header">
            <img src="{{'../../assets/img/currency/'+ count+'.svg'}}" width="24" alt="" />{{count}}
          </th>

        </tr>
        <p style="width:25%;float:left;">
          <tr *ngFor="let item of assets">
            <td *ngIf="item.baseCurrency=='TRY'" (click)="buySellCode(item)">
              <a><img src="{{'../../assets/img/currency/'+ item.currencyCode+'.svg'}}" width="24"
                  alt="" />{{item.currencyCode}}/{{item.baseCurrency}}</a>

            </td>
          </tr>
        </p>
        <p style="width:25%;float:left;">
          <tr *ngFor="let item of assets">
            <td *ngIf="item.baseCurrency=='BTC'" (click)="buySellCode(item)">
              <a><img src="{{'../../assets/img/currency/'+ item.currencyCode+'.svg'}}" width="24"
                  alt="" />{{item.currencyCode}}/{{item.baseCurrency}}</a>

            </td>
          </tr>
        </p>
        <p style="width:25%;float:left;">
          <tr *ngFor="let item of assets">
            <td *ngIf="item.baseCurrency=='ETH'" (click)="buySellCode(item)">
              <a><img src="{{'../../assets/img/currency/'+ item.currencyCode+'.svg'}}" width="24"
                  alt="" />{{item.currencyCode}}/{{item.baseCurrency}}</a>

            </td>
          </tr>
        </p>
        <p style="width:25%;float:left;">
          <tr *ngFor="let item of assets">
            <td *ngIf="item.baseCurrency!='TRY' && item.baseCurrency!='BTC' && item.baseCurrency!='ETH'"
              (click)="buySellCode(item)">
              <a><img src="{{'../../assets/img/currency/'+ item.currencyCode+'.svg'}}" width="24"
                  alt="" />{{item.currencyCode}}/{{item.baseCurrency}}</a>
            </td>
          </tr>
        </p>
      </table>

    </div>
  </div>
  <!-- <div class="col-12 col-sm-12 col-md-12 font-sm text-green"
   style="border: 0px solid red; height:30px;">




 </div> -->
</div>
  <!--dhriti  -->
  <div class="tab-pane fade show active" id="orderbook" role="tabpanel" aria-labelledby="orderbook-tab">
    <div class="row">
      <!-- <div class="tab-content col-md-6" id="trade-details-tableContent" style="max-height: 250px; overflow-y: scroll; overflow-x: hidden;"> -->
      <div class="col-md-6 border-col order-gap">
        <div class="table-responsive tabe-responsive_left_sell">
          <table class="table table-sm table-hover mb-4">
            <thead>
              <tr class="bg-black text-blue">
                <th scope="col">{{'HOME.AMOUNT'|translate}}</th>
                <th scope="col">{{'HOME.PRICE'|translate}}</th>
                <th scope="col">{{'HOME.TOTAL'|translate}}</th>
              </tr>
            </thead>
            <!-- <tbody id="orderbookAskBody" [innerHTML]="askBody"></tbody> -->
            <tbody *ngIf="askdata !=''">
              <tr class="" *ngFor="let m of askdata;let i = index;">
                <td class="{{'text-left'+' '+i+'newclass'}}">{{m.amount| number : '.4-4'}}</td>
                <td class="{{'text-red'+' '+i+'newclass'}}">{{m.price | number : '.4-4'}}</td>
                <td class="{{'text-right'+' '+i+'newclass'}}">{{m.amount*m.price | number : '.4-4'}}</td>
              </tr>
            </tbody>
            <tbody *ngIf="askdata ==''">
              <tr>
                <td *ngIf="translate.currentLang=='English'">
                  No Data
                </td>
                <td *ngIf="translate.currentLang!='English'">
                  veri yok
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="sp-highlow"><ng2-odometer [number]="ctpdata" [config]="{ format: '(,ddd).dddddd' }"></ng2-odometer><small class="font-sm ml-2" style="font-size:2px" id="pricegreen" style="display: none" ><i class="fa fa-arrow-up text-green" style="font-size:12px" >{{highprice}} </i>
        </small>
        <small class="font-sm ml-2" style="font-size:2px" id="pricered" style="display: none" ><i class="fa fa-arrow-down text-red" style="font-size:12px">{{lowprice}} </i>
        </small>
       </div>
        <!-- <div class="sp-highlow">
          <ng2-odometer [number]="ctpdata" [config]="{ format: '(,ddd).dddddd' }"></ng2-odometer><small
            class="font-sm ml-2" style="font-size:2px" id="pricegreen" style="display: none"><i
              class="fa fa-arrow-up text-green" style="font-size:12px">{{highprice}} </i>
          </small>
          <small class="font-sm ml-2" style="font-size:2px" id="pricered" style="display: none"><i
              class="fa fa-arrow-down text-red" style="font-size:12px">{{lowprice}} </i>
          </small>
        </div> -->
        <div class="table-responsive tabe-responsive_left_buy">

          <table class="table table-sm table-hover mb-4">
            <thead>
              <tr class="">

              </tr>
            </thead>
            <!-- <tbody id="orderbookBidBody" [innerHTML]="bidBody"> -->
            <tbody>
              <tr class="" *ngFor="let m of biddata ;let i = index;">
                <td class="{{'text-left'+' '+i+'newclassask'}}">{{m.amount/m.price | number : '.4-4'}}</td>
                <td class="{{'text-green '+' '+i+'newclassask'}}">{{m.price | number : '.4-4'}}</td>
                <td class="{{'text-right'+' '+i+'newclassask'}}">{{(m.amount/m.price)*(m.price) | number : '.4-4'}}</td>
              </tr>
            </tbody>
            <tbody *ngIf="biddata ==''">
              <tr>
                <td *ngIf="translate.currentLang=='English'">
                  No Data
                </td>
                <td *ngIf="translate.currentLang!='English'">
                  veri yok
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <!-- <div class = "vertical"></div>  -->
      <div class="col-md-6" id="trade-details-tableContent">
        <div class="table-responsive tabe-responsive_right">
          <table class="table table-sm table-hover cust">
            <thead>
              <tr class="bg-black text-blue">
                <th scope="col">{{'HOME.TIME'|translate}}</th>
                <th scope="col">{{'HOME.AMOUNT'|translate}}</th>
                <th scope="col">{{'HOME.PRICE'|translate}}</th>
              </tr>
            </thead>
            <!-- <tbody id="marketTradeBody" [innerHTML]="marketTradeBodyHtml">
                            </tbody> -->
            <tbody  *ngIf="marketTradeRecords !=''">
              <tr class="" *ngFor="let m of marketTradeRecords;let i = index;">
                <td class="{{'text-left'+' '+i+'newclassmarket'}}">{{m.ledger_close_time | date:'h:mm:ss '}}</td>
                <td class="{{'text-green text-green'+' '+i+'newclassmarket'}}">{{m.base_amount | number : '.4-4'}}</td>
                <td class="{{'text-right'+' '+i+'newclassmarket'}}">{{m.counter_amount/m.base_amount | number : '.4-4'}}
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="marketTradeRecords ==''">
              <tr>
                <td *ngIf="translate.currentLang=='English'">
                  No Data
                </td>
                <td *ngIf="translate.currentLang!='English'">
                  veri yok
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="w-100 mt-2"></div> -->