<app-navbar></app-navbar>
<div class="content-wrapper pt-0 pl-3">

        <div class="row d-flex" data-ng-controller="supportCtrl" data-ng-init="loginDuration();">
                <div class="col-12 col-md-8 col-sm-10 mt-3 align-self-stretch">
                  <div class="custom-bg-dark p-2 rounded h-100">
                    <span class="font-md text-white-background mr-2 pl-3">{{'HOME.TOMYAPROSUPRT'|translate}}</span>
                    <div class="w-100"></div>

                        <form (ngSubmit)="f.form.valid && supportMail()" #f="ngForm">
                            <ul class="list-group mt-3">
                              <li class="list-group-item bg-transparent">

                                <div class="form-row">
                                  <label for="bank_name">{{'HOME.SUBJ'|translate}}</label>
                                  <div class="input-group mb-2">
                                    <input type="text" class="form-control support-input-class" id="subject" [(ngModel)]="subject" name="subject" placeholder='' required>

                                  </div>
                                </div>
                                <div class="form-row">
                                  <label for="account_number">{{'HOME.MSSG'|translate}}</label>
                                  <div class="input-group mb-2">
                                    <textarea class="form-control support-input-class" id="message" [(ngModel)]="message" name="message" placeholder='' required></textarea>
                                  </div>
                                </div>

                                <div class="form-row mt-2 mb-2">
                                  <button type="submit" class="btn btn-green" [disabled]="f.form.invalid">{{'HOME.SND'|translate}}</button>
                                </div>
                              </li>
                            </ul>
                          </form>

                  </div>
                </div>
              </div>

              <!--<div class="form-group">
                  <label>Subject</label>
                  <input type="text" class="form-control rounded " name="subject" [(ngModel)]="subject" id="subject" placeholder="Enter Subject">
                </div>-->
                <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top"> <i class="fa fa-angle-up"></i> </a>
</div>