<div class="container">
    <div class="card card-login mx-auto mt-3">
      <div class="login-text text-blue">
        <span class="p-3 mb-0" style="color: #564fdc; font-size:23px;">Tomya</span>
        <img class="logo" src ="./assets/img/Tomya-Pro-White.svg" alt="">
      </div>
        <!-- <div class="card-header text-center text-blue bg-pbgreen bitrump-logo">
        </div>
          <div class="card-header text-center text-blue p-0">
            <h5 class="p-3 mb-0" style="color: #86bbb8;font-size: 18px;font-weight: lighter;">TOMYA PRO SECURE-TOKEN</h5>
          </div> -->

        <div class="card-body user-credentials p-3">
          <div class="form-group">
            <label for="forgotpasswordInputPassword">{{'HOME.EMAIL'|translate}}</label>
            <input class="form-control registration-input" id="forgotpasswordInputPassword" [(ngModel)]="email" type="email" required>
          </div>

          <button class="btn login_btn btn-block" (click)="secureToken(true)">{{'HOME.GSTG'|translate}}</button>
              <!-- <p [hidden]="!error" class="text-danger my-3">Email address or Password Invalid</p> -->

        <div class="d-flex mt-2">
          <div class="mt-3 text-center mr-auto"><a routerLink="/signup">{{'HOME.LMS'|translate}}</a></div>
          <div class="mt-3 text-center"><a routerLink="/login">{{'HOME.BSG'|translate}}</a></div>
        </div>
      </div>
    </div>
  </div>