.modal-content{
    background: red !important;
}
.btn-danger{
    color: #fff !important;
    background-color: #c82333 !important;
    border-color: #bd2130 !important;
}
.logo-deaitls{
    color: #fff !important;
    font-size: 22px;
    padding: 0px 0;
}
.logo-deaitls .fa-btc{
    margin: 0 0 0 5px;
    color: #fff;
}

.logo-deaitls img {
    width: 62%;
    max-width: 100%;
  }
  .navbar-dark .navbar-brand {
    background: #24262d;
    padding: 5px .6125rem;
}
.nav-item{position: relative;}
.navbar-nav .nav-item:first-child:before{display:none;}
.nav-item:before{content:"";position: absolute;left:0;top:11px;height:20px;background:#3e3838;}
 .navbar-sidenav_new .nav-item:before{display:none;}
.test{
      background-color: #24242a;
  }
  .modal-body{
    padding: 62px;
    background-color: #31313a;
    margin: 32px 30px;
  }
  button.btn.btn-gray{
      margin: 17px;
  }
  .btn-gray{background:#464655 !important; border-radius: 1.25rem !important; width: auto;}
  .modal-header{
      border-bottom: 0 !important;
  }
  .modal-header .close{
    margin-top: -4.8rem;
    margin-right: -36px;
    border-radius: 50%;
    background-color: #373742;
    padding: 0.7rem 1rem;
  }

  .navbar-sidenav:hover,
  .navbar-sidenav:focus {
      width: 230px;
  }