.custom-bg-dark .filter-button{
    background-color: #2f2f39;
    color: #fff;
    border: 1px solid #45454b;
    }
    .custom-bg-dark .btn-info{
    background-color: #2f2f39;
    color: #fff;
    border: 1px solid #45454b;
    }