<app-navbar></app-navbar>
<div class="content-wrapper pt-0 pl-3">

  <div class="container-fluid" data-ng-init="loginDuration();">
        <div class="row d-flex">
          <div class="col-12 mt-3 align-self-stretch">
            <div class="custom-bg-dark p-2 rounded h-100">
              <p class="text-white">{{'HOME.PROMOTNMSG'|translate}}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid-->
      <footer class="sticky-footer">
        <div class="container">
          <div class="text-center"> <small>Copyright © Paybito 2019</small> </div>
        </div>
      </footer>
      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top"> <i class="fa fa-angle-up"></i> </a>
      <!-- Logout Modal-->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <a class="btn btn-primary" data-ng-click="logout()">Logout</a> </div>
          </div>
        </div>
      </div>


</div>
