.email-break{
    word-break: break-all;
}
.custom-bg-dark-wrap{padding:15px;background:#31313a;}
.custom-bg-dark-custom{
    padding: 10px !important;
}
.currency-block{
    padding: 10px;
    display: inline-block;
    width: 100%;
    margin: 0 0 5px 0;
    background-color: #31313a;
}
.balance-list td{
    padding: 0;
}