@keyframes invalid {
    from { background-color: red; }
    to { background-color: inherit; }
  }
  .invalid {
    -webkit-animation: invalid 1s infinite; /* Safari 4+ */
    -moz-animation:    invalid 1s infinite; /* Fx 5+ */
    -o-animation:      invalid 1s infinite; /* Opera 12+ */
    animation:         invalid 1s infinite; /* IE 10+ */
  }
  .resizable-widget{
    border:1px solid #a5a5a5;
    min-height: 286px !important;

}
/* .scrollable-stoplmt{
overflow: hidden;
} */
/* .scrollable {
  max-height: 14em!important;

} */
.resizable-widget{min-height:auto;height:340px !important; overflow: hidden;}
.scrollable {
  max-height: 17em!important;
}
.modify-btn{
  background-color: #4f4f5f !important;
  opacity:1;
}
.modify-btn:hover{opacity:0.8;}
.bg-header{
  background-color: #4f4f5f !important;
}