<div [ngResizable]="data.resize" class="custom-bg-dark p-2 pl-3 pr-3 rounded h-100 resizable-widget">
<ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <h5 (click)="GetTradeDetail();reload()" id="trade">{{'HOME.MYTRADES'|translate}}</h5>
      </ng-template>
      <ng-template ngbTabContent>
          <div class="tab-pane active scrollable" id="my-trades" role="tabpanel" aria-labelledby="my-trades-tab">

              <div class="btn-group btn-group-sm" role="group" aria-label="my-trades-filter" style="margin-top:1px;"> <!-- my-trades-filter class for previous view in trade-->
                <button type="button" class="btn btn-dark font-xs filter-button {{(myTradeTableDisplayStatus==0)?'btn_active':''}}" data-filter="all" (click)="myTradeDisplay(0)">{{'HOME.ALL'|translate}}</button>
                <button type="button" class="btn btn-dark font-xs text-green filter-button {{(myTradeTableDisplayStatus==1)?'btn_active':''}}" data-filter="buy" (click)="myTradeDisplay(1)">{{'HOME.BUY'|translate}}</button>
                <button type="button" class="btn btn-dark font-xs text-red filter-button {{(myTradeTableDisplayStatus==2)?'btn_active':''}}" data-filter="sell" (click)="myTradeDisplay(2)">{{'HOME.SELL'|translate}}</button>
                <button type="button" class="btn btn-dark font-xs text-red filter-button {{(myTradeTableDisplayStatus==2)?'btn_active':''}}" data-filter="refresh" (click)="GetTradeDetail()"><img src="../../assets/img/icons8-refresh-16.png"></button>
              </div>
              <p></p>
              <div class="table-responsive-sm">
                  <div class="table-responsive">
          <table class="table table-sm table-hover">
            <thead>
              <tr class="bg-header text-blue">
                <th scope="col">{{'HOME.DTTME'|translate}}</th>
                <th scope="col">{{'HOME.ASST'|translate}}</th>
                <th scope="col">{{'HOME.BASE'|translate}}</th>
                <th scope="col">{{'HOME.CRAMOUNT'|translate}}</th>
                <th scope="col">{{'HOME.PRICE'|translate}}</th>
                <th scope="col">{{'HOME.BUY/SELL'|translate}}</th>
                <!--<th scope="col">Status</th>-->
              </tr>
              <!-- <tr>
                <td colspan="8" *ngIf="tradeDetails.length==0" class="text-center">No Data</td>
              </tr> -->
            </thead>
            <tbody id="myTradeBody" >

                <tr><td colspan="6" class="text-center" *ngIf="!historyTableTr"><img src="./assets/svg-loaders/three-dots.svg" alt="" width="50"></td>

                  </tr>

            </tbody>
          </table>
        </div>
        </div>
            </div>
      </ng-template>
    </ngb-tab>
    <!-- <ngb-tab>
      <ng-template ngbTabTitle>
        <h5>MARKET TRADES</h5>
      </ng-template>
      <ng-template ngbTabContent>
          <div class="tab-pane scrollable" id="market-trades" role="tabpanel" aria-labelledby="market-trades-tab">
              <div class="table-responsive-sm">
                  <table class="table table-sm table-hover">
                    <thead>
                      <tr class="bg-black text-blue" >
                        <th scope="col">Date - Time</th>
                        <th scope="col">Asset Pair</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Price</th>
                      </tr>
                    </thead>
                    <tbody id="marketTradeBody" [innerHTML]="marketTradeBodyHtml">
                      </tbody>
                  </table>
                </div>
            </div>
      </ng-template>
    </ngb-tab> -->
    <ngb-tab>
        <ng-template ngbTabTitle>
            <h5 (click)="getOfferLists();reload()" class="get-offer">{{'HOME.MYOFFERS'|translate}}</h5>
          </ng-template>
      <ng-template ngbTabContent>
          <div class="tab-pane scrollable" id="my-offer" role="tabpanel" aria-labelledby="my-offer-tab">
            <div class="table-responsive-sm">
                <div class="table-responsive">
                  <table class="table table-sm table-hover">
                    <thead>
                      <tr class="bg-header text-blue">
                        <th scope="col">{{'HOME.DTTME'|translate}}</th>
                        <th scope="col">{{'HOME.OFFERID'|translate}}</th>
                        <th scope="col">{{'HOME.AMOUNT'|translate}}</th>
                        <th scope="col">{{'HOME.PRICE'|translate}}</th>
                        <th scope="col">{{'HOME.TOTALVALUE'|translate}}</th>
                        <th scope="col">{{'HOME.BUY/SELL'|translate}}</th>
                        <th scope="col">{{'HOME.EDIT'|translate}}</th>
                        <th scope="col">{{'HOME.DELETE'|translate}}</th>
                      </tr>
                    </thead>
                    <tbody id="myOfferBody">
                        <tr *ngFor="let m of myOfferRecordsHtml">
                            <td>{{m.time}}</td>
                            <td class="">{{m.offerId}}</td>
                            <td class="">{{m.amount}}</td>
                            <td class="">{{m.price}}</td>
                            <td class="">{{m.volume}}</td>
                            <td class="text-{{m.type=='Buy'?'skyblue':'red'}}">{{m.type}}</td>
                            <td><button class="btn btn-dark modify-btn btn-ex-sm" (click)="getOfferDetails(modify,m.offerId)"> {{'HOME.MODIFY'|translate}}</button></td>
                            <td><button class="btn btn-dark modify-btn btn-ex-sm" (click)="deleteTrade(delete,m.offerId,m.txn_typ,m.price)"> {{'HOME.DELETE'|translate}}</button></td>
                        </tr>
                        <tr>
                          <td colspan="8" *ngIf="myOfferRecordsHtml.length==0" class="text-center">{{'HOME.NODATAAVL'|translate}}</td>
                        </tr>
                        <tr>
                          <td colspan="8" *ngIf="!myOfferRecordsHtml" class="text-center">
                              <img src="./assets/svg-loaders/three-dots.svg" alt="" width="50">
                          </td>
                        </tr>
                    </tbody>
                  </table>
                </div>
                </div>
          </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>
            <h5 (click)="getStopLossOfferForBuy()">{{'HOME.STPLIMIT'|translate}}</h5>
          </ng-template>
      <ng-template ngbTabContent>
          <ngb-tabset type="pills">
              <ngb-tab>
                <ng-template ngbTabTitle ><span class="text-left" (click)="getStopLossOfferForBuy()">{{'HOME.BUY'|translate}}</span></ng-template>
                <ng-template ngbTabContent>
                  <div class="tab-pane scrollable scrollable-stoplmt" id="my-offer" role="tabpanel" aria-labelledby="my-offer-tab">
                    <div class="table-responsive-sm ">
                        <table class="table table-sm table-hover">
                          <thead>
                            <tr class="bg-header text-blue">
                                <th scope="col">{{'HOME.TIME'|translate}}</th>
                                <th scope="col">{{'HOME.OFFERID'|translate}}</th>
                              <th scope="col">{{'HOME.AMOUNT'|translate}}</th>
                              <th scope="col">{{'HOME.STPLIMITPRC'|translate}}</th>
                              <th scope="col">{{'HOME.TRIGGERPRC'|translate}}</th>
                              <th scope="col">{{'HOME.BUY/SELL'|translate}}</th>
                              <th scope="col">{{'HOME.EDIT'|translate}}</th>
                              <th scope="col">{{'HOME.DELETE'|translate}}</th>
                            </tr>
                          </thead>
                          <tbody id="stopLossBodyw" *ngIf="buydata">
                            <tr *ngFor="let s of buydata">
                              <td>{{s.timestamp}}</td>
                              <td>{{s.offerId }}</td>
                              <td>{{s.quantity }}</td>
                              <td>{{s.stopPrice }}</td>
                              <td>{{s.triggerPrice }}</td>
                              <td class="text-skyblue">Buy</td>
                              <td>
                                <button (click)="modifyStoploss(modifystoploss,s.offerId,s.quantity,s.stopPrice,s.triggerPrice,'Buy')" class="btn btn-dark btn-ex-sm">{{'HOME.MODIFY'|translate}}</button>
                              </td>
                              <td>
                              <button class="btn btn-dark btn-ex-sm" (click)="delStoploss(delstoploss,s.offerId,s.quantity,s.stopPrice,s.triggerPrice,'Buy')">{{'HOME.DELETE'|translate}}</button>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="8" class="text-center text-danger" *ngIf="buydata.length==0">{{'HOME.NODATAAVL'|translate}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle><span class="text-left" (click)="getStopLossOfferForSell()">{{'HOME.SELL'|translate}}</span></ng-template>
                <ng-template ngbTabContent>
                  <div class="tab-pane scrollable scrollable-stoplmt" id="my-offer" role="tabpanel" aria-labelledby="my-offer-tab">
                    <div class="table-responsive-sm">
                        <table class="table table-sm table-hover">
                          <thead>
                            <tr class="bg-header text-blue">
                                <th scope="col">{{'HOME.TIME'|translate}}</th>
                                <th scope="col">{{'HOME.OFFERID'|translate}}</th>
                              <th scope="col">{{'HOME.AMOUNT'|translate}}</th>
                              <th scope="col">{{'HOME.STPLIMITPRC'|translate}}</th>
                              <th scope="col">{{'HOME.TRIGGERPRC'|translate}}</th>
                              <th scope="col">{{'HOME.BUY/SELL'|translate}}</th>
                              <th scope="col">{{'HOME.EDIT'|translate}}</th>
                              <th scope="col">{{'HOME.DELETE'|translate}}</th>
                            </tr>
                          </thead>
                          <tbody id="stopLossBodyw">
                            <tr *ngFor="let s of selldata">
                              <td>{{s.timestamp}}</td>
                              <td>{{s.offerId }}</td>
                              <td>{{s.quantity }}</td>
                              <td>{{s.stopPrice }}</td>
                              <td>{{s.triggerPrice }}</td>
                              <td class="text-red">Sell</td>
                              <td>
                                  <button (click)="modifyStoploss(modifystoploss,s.offerId,s.quantity,s.stopPrice,s.triggerPrice,'Sell')" class="btn btn-dark  btn-ex-sm">{{'HOME.MODIFY'|translate}}</button>

                                </td>
                                <td>
                                <button class="btn btn-dark  btn-ex-sm" (click)="delStoploss(delstoploss,s.offerId,s.quantity,s.stopPrice,s.triggerPrice,'Sell')">{{'HOME.DELETE'|translate}}</button>
                                </td>
                            </tr>
                            <tr>
                              <td colspan="8" class="text-center text-danger" *ngIf="selldata.length==0">{{'HOME.NODATAAVL'|translate}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                </ng-template>
              </ngb-tab>
              </ngb-tabset>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

  </div>

   <!-- modify offer modal -->
   <ng-template #modify let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Manage Offer</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="">{{'HOME.AMOUNT'|translate}}</label>
          <input type="number" class="form-control form-control-sm rounded right" [(ngModel)]="modifyAmount" name="a" #a="ngModel">
        </div>
        <div class="form-group">
          <label for="">{{'HOME.PRICE'|translate}}</label>
          <input type="number" class="form-control form-control-sm rounded right" [(ngModel)]="modifyPrice" name="b" #b="ngModel">
        </div>
        <div class="form-group">
          <label for="">{{'HOME.TOTALVOLUME'|translate}}</label>
          <input type="number" class="form-control form-control-sm rounded right" [(ngModel)]="modifyVolume" [value]="modifyAmount*modifyPrice" readonly>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close()">{{'HOME.CANCEL'|translate}}</button>
        <button type="button" class="btn btn-success" (click)="manageOffer(); modal.close()" [disabled]="a.pristine&&b.pristine" >{{'HOME.SBMT'|translate}}</button>
      </div>
    </ng-template>

     <!-- modify stoploss modal -->
   <ng-template #modifystoploss let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{'HOME.MNGSTPLMT'|translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="">{{'HOME.AMOUNT'|translate}}</label>
          <input type="number" class="form-control form-control-sm rounded right" [(ngModel)]="modifySlAmount" name="a" #a="ngModel">
        </div>
        <div class="form-group">
          <label for="">{{'HOME.STPLIMITPRC'|translate}}</label>
          <input type="number" class="form-control form-control-sm rounded right" [(ngModel)]="modifySlPrice" name="b" #b="ngModel">
        </div>
        <div class="form-group">
          <label for="">{{'HOME.TRIGGERPRC'|translate}}</label>
          <input type="number" class="form-control form-control-sm rounded right" [(ngModel)]="modifySlTrigger" name="c" #c="ngModel">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close()">{{'HOME.CANCEL'|translate}}</button>
        <button type="button" class="btn btn-success" (click)="manageStoploss(); modal.close()" [disabled]="a.pristine&&b.pristine&&c.pristine" >{{'HOME.SBMT'|translate}}</button>
      </div>
    </ng-template>

       <!-- delete modal -->
   <ng-template #delete let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{'HOME.DLTOFFR'|translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-center">{{'HOME.DLTMSG'|translate}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close()">{{'HOME.NO'|translate}}</button>
        <button type="button" class="btn btn-warning" (click)="modal.close(); delOffer()" >{{'HOME.YES'|translate}}</button>
      </div>
    </ng-template>

           <!-- delete stop loss modal -->
   <ng-template #delstoploss let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{'HOME.DLTSTPLMT'|translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-center">{{'HOME.DLTMSG'|translate}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close()">{{'HOME.NO'|translate}}</button>
        <button type="button" class="btn btn-warning" (click)="modal.close(); removeStoploss()" >{{'HOME.YES'|translate}}</button>
      </div>
    </ng-template>




