
<div class="container-wrap">
  <!-- <label class="lang-setting">
    <label class="space-lag">Select Language</label>

    <select #langSelect (change)="translate.use(langSelect.value)">
     <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
   </select>

 </label> -->
<div class="container" style="margin-top: -25px;">
    <div class="card card-login mx-auto mt-3">
      <!-- <div class="card-header text-center text-blue bg-pbgreen bitrump-logo">
      </div> -->
      <!-- <div class="card-header text-center text-blue p-0">
        <h5 class="p-3 mb-0" style="color: #86bbb8;font-size: 18px;font-weight: lighter;">{{data.exchange|uppercase}}
          SIGNUP</h5>
      </div> -->
      <div class="login-text text-blue">
        <span class="p-3 mb-0" style="color: #564fdc; font-size:23px;">{{'HOME.SIGNUP'|translate}}</span>
        <img class="logo" src ="./assets/img/Tomya-Pro-White.svg" alt="">
      </div>
      <div class="card-body card-login-body user-credentials p-3">
        <!-- new -->
        <ngb-tabset justify="fill" activeId="tab2">
          <!-- <ngb-tab id="tab1">
            <ng-template ngbTabTitle>
              <h5 (click)="basic()">BASIC</h5>
            </ng-template>
            <ng-template ngbTabContent>
            </ng-template>
          </ngb-tab> -->
          <ngb-tab id="tab2">
            <!-- <ng-template ngbTabTitle>
              <h5>TOMYA PRO</h5>
            </ng-template> -->
            <ng-template ngbTabContent>
              <form name="form" #f="ngForm" (ngSubmit)="f.valid && signupData(true)">

                <div class="form-group">
                  <label for="signupInputfName">{{'HOME.NAME'|translate}}</label><span class="required">*</span>
                  <input class="form-control registration-input validate" name="fullName" id="signupInputfName" tabindex="1"
                    [(ngModel)]="signupObj.fullName" type="text" placeholder="" required
                    #fullName="ngModel" [class.is-invalid]="fullName.dirty&&fullName.invalid">
                </div>

                <!-- <div class="form-group">
                  <label for="signupInputfName">{{'HOME.SURNAME'|translate}}</label><span class="required">*</span>
                  <input class="form-control registration-input validate" name="surName" id="signupInputfName" tabindex="1"
                    [(ngModel)]="signupObj.surName" type="text" placeholder="" required
                    #surName="ngModel" [class.is-invalid]="surName.dirty&&surName.invalid">
                </div> -->
                <div class="form-group">
                  <label for="signupInputfName">{{'HOME.SURNAME'|translate}}</label><span class="required">*</span>
                  <input class="form-control registration-input validate" name="surName" id="signupInputfName" tabindex="1"
                    [(ngModel)]="signupObj.surName" type="text" placeholder="" required
                    #surName="ngModel" [class.is-invalid]="surName.dirty&&surName.invalid">
                </div>

                <div class="form-group">
                  <label for="signupInputEmail">{{'HOME.EMAIL'|translate}}</label><span class="required">*</span>
                  <input class="form-control registration-input validate" [class.is-invalid]="email.dirty && email.invalid" name="email"
                    id="signupInputEmail" [(ngModel)]="signupObj.email" placeholder="{{signupObj.email}}"
                    (blur)="checkEmail()" appForbiddenName="bob" required #email="ngModel">
                  <!-- <span class="text-danger" *ngIf="email.dirty && email.invalid">Enter a valid email</span> -->
                </div>
                <div class="form-group">
                  <label for="signupInputAddress">{{'HOME.ADDRESS'|translate}}</label><span class="required">*</span>
                  <input class="form-control registration-input validate" id="signupInputAddress" [(ngModel)]="signupObj.address" type="text"
                    placeholder="" name="address" #add="ngModel"
                    [class.is-invalid]="add.dirty&&add.invalid" required>
                  <!-- <span class="text-danger" *ngIf="add.dirty&&add.invalid">Enter a valid address</span> -->
                </div>

                <!-- <div class="form-group">
                  <label for="signupInputPincode">{{'HOME.ZCODE'|translate}}</label><span class="required">*</span>
                  <input class="form-control registration-input validate" name="pincode" id="signupInputPincode" [(ngModel)]="signupObj.zip"
                    type="text" placeholder="" required #zip="ngModel"
                    [class.is-invalid]="zip.dirty&&zip.invalid">
                </div> -->
                <div class="form-group">
                  <label for="signupInputCity">{{'HOME.CITY'|translate}}</label><span class="required">*</span>
                  <input class="form-control registration-input validate" id="signupInputCity" [(ngModel)]="signupObj.city" type="text"
                    placeholder="" required name="city" #city="ngModel"
                    [class.is-invalid]="city.dirty&&city.invalid">
                  <!-- <span class="text-danger" *ngIf="city.dirty&&city.invalid">Enter a valid city name</span> -->
                </div>
                <!-- <div class="form-group">
                  <label for="signupInputState">{{'HOME.STATE'|translate}}</label><span class="required">*</span>
                  <input class="form-control registration-input validate" name="state" id="signupInputState" [(ngModel)]="signupObj.state"
                    type="text" placeholder="" required #state="ngModel"
                    [class.is-invalid]="state.dirty&&state.invalid">
                </div> -->

                <!-- <div class="form-group">
                  <label for="signupInputCountry">{{'HOME.COUNTRY'|translate}}</label><span class="required">*</span>
                  <input class="form-control registration-input validate" disabled id="signupInputCountry" name="country"
                    [(ngModel)]="signupObj.country" required #country="ngModel" type="text"
                    [class.is-invalid]="country.dirty&&country.invalid">
                </div> -->
                <div class="form-group">
                  <label for="signupInputPhone">{{'HOME.PHONENO'|translate}}</label><span class="required">*</span>&nbsp;&nbsp;
                  <!-- <input type="tel" class="tel-type"  id="signupInputPhone1"  #input1 size="3" ng-pattern="/(^0$)|(^[1-9]\d{0,8}$)/"   maxlength="3" (input)="keyTab($event,input2)">&nbsp; -->
                  <input class="form-control registration-input validate" name="phone"  id="signupInputPhone1"
                  [(ngModel)]="signupObj.phone" type="text" placeholder="" (blur)="checkPhone()" required
                  pattern="((\(\d{3}\)?)|(\d{3}))([\s-./]?)(\d{3})([\s-./]?)(\d{4})" #phone="ngModel" [class.is-invalid]="phone.dirty&&phone.invalid">
                  <!-- <input type="tel" id="signupInputPhone2" pattern="/^\+?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{2})[-. ]?([0-9]{2})$/" #input2 size="3" maxlength="3" (input)="keyTab($event,input3)">&nbsp;
                  <input type="tel" id="signupInputPhone3" pattern="/^\+?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{2})[-. ]?([0-9]{2})$/" #input3 size="2" maxlength="2" (input)="keyTab($event,input4)">&nbsp;
                  <input type="tel" id="signupInputPhone4" pattern="/^\+?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{2})[-. ]?([0-9]{2})$/" #input3 size="2" maxlength="2" (blur)="checkPhone()" >&nbsp; -->
                  <!-- <input type="tel" #input4 size="2" maxlength="2"
                    [(ngModel)]="signupObj.phone4"  (blur)="checkPhone()" required
                     #phone="ngModel"  id="signupInputPhone4" (keyup)="valkeyUp()" pattern="/^\+?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{2})[-. ]?([0-9]{2})$/" [ngModelOptions]="{standalone: true}"  > -->
                     <span class="text-danger test" *ngIf="phone.dirty&&phone.invalid">{{'HOME.ENTRVALIDNUM'|translate}}</span>
                     <!-- <input type="hidden" id="phone_num" value=""/> -->
                </div>
                <div class="form-group">
                  <label for="signupInputPassword">{{'HOME.PASSWORD'|translate}}</label><span class="required">*</span>
                  <input class="form-control registration-input validate" name="password" id="signupInputPassword" name='password'
                    [(ngModel)]="signupObj.password" type="password" placeholder="" (blur)="checkPassword()"
                    (keyup)="confirmPassword($event)" required
                     #password="ngModel"
                    [class.is-invalid]="password.invalid&&password.dirty">
                    <span toggle="#signupInputPassword" (click)="showHide()" class="fa fa-fw fa-eye-slash field-icon showHide-password"></span>
                  <!-- <span class="text-danger" *ngIf="password.dirty&&password.invalid">
                    The password should be of minimum 8 characters and must contain at least one uppercase, one lowercase, number and a special character($@#.!).
                  </span> -->
                </div>
                <div class="form-group">
                  <label for="signupInputRetypePassword">{{'HOME.RPASSWORD'|translate}}</label><span class="required">*</span>
                  <input class="form-control registration-input validate" name="repassword1" id="signupInputRetypePassword" type="password"
                    placeholder="" [(ngModel)]="signupObj.repassword1" (keyup)="confirmPassword($event)" required
                     #repassword1="ngModel"
                    [class.is-invalid]="repassword1.invalid&&repassword1.dirty">
                  <span class="confirm_password_text"></span>
                </div>

                <div class="form-group">
                  <!-- <re-captcha (resolved)="resolved($event)" siteKey="6Lf9QagUAAAAACyd-QUoV94k6jIRuA7-WHwKEUjN">
                  </re-captcha>

                  <re-captcha (resolved)="resolved($event)" siteKey="6Ld2kXIUAAAAAE3sQKJ-JtsJdp1lwPhMwPHcA3Cj"></re-captcha> -->
                </div>

                <button class="btn login_btn btn-block" id="submit_btn"
                  [disabled]="f.form.invalid">{{'HOME.SMT'|translate}}</button>
              </form>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
            <div class="row mt-2">
          <div class="col-12 mt-3 signup-text text-center">{{'HOME.MSG1'|translate}} <a class="text-white-background" target="_blank">{{'HOME.MSG2'|translate}} </a></div>
          <div class="col-12 text-center"><a class="signup-text" routerLink="/login">{{'HOME.MSG3'|translate}} </a></div>
        </div>
      </div>
    </div>
  </div>
</div>