<app-navbar></app-navbar>
<div class="content-wrapper pt-0 pl-3">


  <!--<div class="container-fluid bg-dark coin-selector z-depth-1-half">
      <div class="d-flex flex-row align-items-center">
          <div class="mr-3">
          	<select class="form-control font-md">
              <option selected>BITCOIN (BTC)</option>
              <option value="1">ETHEREUM (ETH)</option>
              <option value="2">LITECOIN (LTC)</option>
              <option value="3">HCXCOIN (HCX)</option>
            </select>
          </div>
          <div class="font-lg text-green">1BTC = $ 850,551.84<span class="font-sm ml-3">+1564154</span></div>
      </div>
    </div>-->
  <div class="row d-flex" data-ng-init="loginDuration();" data-ng-controller="myWalletCtrl">
    <div class="col-12 mt-3 align-self-stretch">
      <div class="custom-bg-dark p-2 pl-3 pr-3 rounded h-100">
        <span class="font-lg text-green">
          <!-- $ <ng2-odometer [number]="usdbalance" [config]="{ format: '(,ddd).dddd' }"></ng2-odometer> -->
        </span>
        <div class="w-100 mt-2"></div>
        <div class="table-responsive-sm">
          <table class="table table-sm table-hover">
            <thead>
              <tr class="bg-black text-white">
                <th scope="col">{{'HOME.ASST'|translate}}</th>
                <!--<th scope="col">Created On</th>-->
                <!--<th scope="col">Address</th>-->
                <th scope="col">{{'HOME.BLNC'|translate}}</th>
                <!--<th scope="col">Balance (USD)</th>-->
                <th scope="col">{{'HOME.ACTN'|translate}}</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr [hidden]="main.balance_list">
                <td colspan="3" class="text-center">
                  <img src="./assets/svg-loaders/puff.svg" width="50" alt="">
                </td>
              </tr> -->
              <tr *ngFor="let b of main.balencelist; let i=index">
               <td class="text-yellow">{{b.currencyCode|uppercase}}</td>
                <td class="text-white">{{b.closingBalance}}</td>
                <td>
                  <a *ngIf="b.sendAccess==1" (click)="getCurrencyForSend(sendmd,b.currencyCode,b.closingBalance,b.currencyId)" class="text-skyblue"
                    href="javascript:void(0);">{{'HOME.SND'|translate}}</a>
                  <a *ngIf="b.receiveAccess==1" class="receiveText" (click)="getCurrencyForRecieve(rcvCode,b.currencyCode,b.currencyId)"
                    href="javascript:void(0);">{{'HOME.RCV'|translate}}</a>
                  <!-- <a href="javascript:void(0)" class="text-primary" *ngIf="i==7" (click)="swapModal(swap,b.balance)">SWAP</a> -->
                  <!-- <span class="text-info" *ngIf="i==5">Coming Soon...</span> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 mt-3">
      <div class="custom-bg-dark p-2 pl-3 pr-3 rounded h-100"> <span class="font-md text-white-background">{{'HOME.WTH'|translate}}
          <small style="font-size: 60%;">{{'HOME.WTHMSG'|translate}}</small></span>
        <div class="p-2 float-right">
          <div class="btn-group btn-group-sm" role="group" aria-label="transaction-history">
            <button type="button"
              class="btn btn-dark font-xs filter-button mywallet_filter_btn send_filter_btn_wallet btn_active"
              (click)="filterType('send')">{{'HOME.SND'|translate}}</button>
            <button type="button"
              class="btn btn-dark font-xs  filter-button mywallet_filter_btn recieved_filter_btn_wallet"
              (click)="filterType('recieved')">{{'HOME.RCV'|translate}}</button>
          </div>
        </div>
        <div class="w-100 mt-2"></div>
        <div class="table-responsive-sm">
          <table class="table table-sm table-hover">
            <thead>
              <tr class="bg-black text-white">
                <th scope="col">{{'HOME.DTTME'|translate}}</th>
                <th scope="col">{{'HOME.DSCRPTN'|translate}}</th>
                <th scope="col">{{'HOME.TYP'|translate}}</th>
                <th scope="col">{{'HOME.ASST'|translate}}</th>
                <th scope="col">{{'HOME.STATUS'|translate}}</th>
              </tr>
            </thead>
            <tbody class="walletHistoryTableBody">
              <tr>
                <td colspan="5" class="text-center py-3">
                  <img src="./assets/svg-loaders/puff.svg" width="50" alt="">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="float-sm-right btn-group btn-group-sm pagination_div" role="group"
              aria-label="transaction-history">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid-->
</div>

<!-- send modal -->
<ng-template #sendmd let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{'HOME.SND'|translate}} {{cryptoCurrency|uppercase}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <ngb-tabset>
      <ngb-tab title="Tomya Wallet" *ngIf="cryptoCurrency !='triggers'">
        <ng-template ngbTabContent>
          <form namw="form" #f="ngForm" novalidate>
            <div class="form-group row">
              <div class="col-md-4 text-right">{{'HOME.RECVADDRS'|translate}}</div>
              <div class="col-md-8">
                <input type="number" class="form-control" [(ngModel)]="paybito_phone" name="a" placeholder="Reciever's Mobile No"></div>
            </div>
            <div class="form-group row">
              <div class="col-md-4 text-right">{{'HOME.AMOUNT'|translate}}</div>
              <div class="col-md-8">
                <input type="number" class="form-control" [(ngModel)]="paybito_amount" name="b" placeholder="0.00"></div>
            </div>
            <div class="form-group row">
              <div class="col-md-4"></div>
              <div class="col-md-8 text-left">
                <button class="btn btn-success" [disabled]="f.form.invalid || f.form.pristine"  (click)="transactionSendWithinPaybito(); modal.close();">{{'HOME.SMT'|translate}}</button>
              </div>
            </div>
          </form>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Other Wallet">
        <ng-template ngbTabContent>
          <form name="form" id="uc-disclaimer-form" #f="ngForm" novalidate>
            <div class="form-group row">
              <div class="col-md-4 text-right">{{'HOME.REVADDRS'|translate}}</div>
              <div class="col-md-8"><input type="text" class="form-control" [(ngModel)]="other_address"
                  placeholder="Reciever's Address" name="a" required></div>
            </div>
            <div *ngIf="cryptoCurrency=='XRP'" class="form-group row">
              <div class="col-md-4 text-right">{{'HOME.XRPTAG'|translate}}</div>
              <div class="col-md-8"><input type="text" class="form-control" [(ngModel)]="xrp_tag" placeholder="XRP Tag"
                  name="a" required></div>
            </div>
            <div class="form-group row">
              <div class="col-md-4 text-right">{{'HOME.AMOUNT'|translate}}</div>
              <div class="col-md-8">
                <input type="number" class="form-control" [(ngModel)]="other_amount" placeholder="0.00" step="0.1"
                  name="b" #b="ngModel" (focus)="show=true" (keyup)="getRate($event,cryptoCurrency)">
                <!-- [class.is-invalid]="other_amount>limit||other_amount<mining_fees||other_amount<0"  -->
                <!-- sendmax -->
                <!-- <div *ngIf="data.settings.sendMax">
                    <div class="text-left text-danger">
                      <span *ngIf="b.dirty&&other_amount<=0">Amount cannot be negative or zero.</span>
                      <span *ngIf="b.dirty&&other_amount>limit">You don't have sufficient balance <div class="d-none">{{limit}}</div></span>
                    </div>
                    <div class="col-md-12 text-right mt-2"> -->
                <!-- <span class="text-danger mr-2" *ngIf="other_amount>limit||other_amount<mining_fees||other_amount==0">
                        You do not have sufficient balance</span> -->
                <!-- <button class="btn btn-primary btn-ex-sm" (click)="sendMax()" [hidden]="!show" [disabled]="loading">
                            <span *ngIf="!loading">Send Max</span>
                          <span *ngIf="loading">Loading....</span>
                        </button>
                    </div>
                  </div>-->
              </div>

            </div>
            <!-- <div class="form-group row">
              <div class="col-md-4 text-right">Mining Fees</div>
              <div class="col-md-8">
                <input type="number" class="form-control" [value]="mining_fees" placeholder="0.00" name="c" readonly>
              </div>
            </div>-->
            <div class="form-group row">
              <div class="col-md-4"></div>
              <div class="col-md-8 text-left" *ngIf="!flag">
                <button class="btn btn-success" (click)="transactionSendForOthers(openmodal); modal.close();"
                  style="display:block" [disabled]="f.form.invalid || f.form.pristine">{{'HOME.SMT'|translate}}</button>
              </div>
              <div class="col-md-8 text-left" *ngIf="flag">
                <button class="btn btn-success" id="sclaimer" (click)="transactionSendForOthers(); modal.close();"
                  style="display:none" [disabled]="f.form.invalid || f.form.pristine">{{'HOME.SMT'|translate}}</button>
              </div>
              <!-- || other_amount<=0 || other_amount>limit ||other_amount<mining_fees -->
            </div>
            <div class="text-primary text-left" *ngIf="cryptoCurrency !='triggers'">
              <h5 (click)="rate(networkFee)" style="cursor:pointer"><u> {{'HOME.CHKNTWKFEE'|translate}} </u></h5>
              <p> {{sendDisclaimer}} </p>
              <p> {{sendDisclaimer2}} </p>
            </div>
            <div class="text-primary text-left" *ngIf="cryptoCurrency=='triggers'">
              <!-- <h5 (click)="Disclaimerdtl(trigger)" style="cursor:pointer"><u> Disclaimer </u></h5>
              -->
              <h5 style="cursor:pointer"><u> {{'HOME.DSCLMR'|translate}} </u></h5>

              <!-- <p> {{sendDisclaimer}} </p>
              <p> {{sendDisclaimer2}} </p> -->
              <div class="table-responsive-sm col-md-12">
                <p>Counterparty Blockchain Network fee is 0.0002 BTC per Triggers at minimum for send operation.</p>
                <p>Please ensure that you have sufficient BTC balance in your wallet</p>
                <p>Counterparty Blockchain may take upto 3 days to confirm a transaction.</p>
              </div>
              <div class="modal-footer">
                  <div class="mr-auto text-dark"> I Agree:</div>
                  <div> <span class="text-white font-weight-bold font-sm"><input type="checkbox" id="disclaim"
                        (click)="myFunction()"></span> </div>

                </div>
            </div>
          </form>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>


<!-- qr modal -->
<ng-template #rcvCode let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{'HOME.RECVCODFOR'|translate}} {{cryptoCurrency|uppercase}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <div *ngIf="!rcv" class="text-center">
      <i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw"></i>
    </div>
    <div *ngIf="rcv">
      <div *ngIf="rcv!=0">
        <div *ngIf="cryptoCurrency=='XRP'">
          <h4 class="modal-title">{{'HOME.XRPTAG'|translate}}</h4>
          <input type="text" class="form-control" [value]="xrptag" #xrpID readonly>
          <button class="btn btn-primary m-3" (click)="copy(xrpID)">{{'HOME.COPY'|translate}}</button>
        </div>
        <input type="text" class="form-control" [value]="rcv" #myId readonly>
        <button class="btn btn-primary m-3" (click)="copy(myId)">{{'HOME.COPY'|translate}}</button>
        <div class="p-3" id="qrcd">
          <qrcode [qrdata]="rcv" [size]="256" [level]="'M'"></qrcode>
        </div>
      </div>
      <div *ngIf="rcv==0">
        <h3 class="text-center">
          Coming Soon...
        </h3>
      </div>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>



<ng-template #networkFee let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{'HOME.CHKNTWKFEE'|translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="table-responsive-sm col-md-12">
      <table class="table table-sm table-hover">
        <thead>
          <tr class="text-blue">
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Rate</th>
          </tr>
        </thead>
        <tbody id="network_fee_data">
          <tr *ngIf="!rateList">
            <td colspan="3" class="text-center">Loading...</td>
          </tr>
          <tr *ngFor="let r of rateList">
            <td>{{r.fromFee}} {{cryptoCurrency|uppercase}}</td>
            <td>{{r.toFee}} {{cryptoCurrency|uppercase}}</td>
            <td>{{r.feeRate}} {{cryptoCurrency|uppercase}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
<ng-template #trigger let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{'HOME.CHKNTWKFEE'}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form id="uc-disclaimer-form">
    <div class="modal-body">
      <div class="table-responsive-sm col-md-12">
        <p>Counterparty Blockchain Network fee is 0.0002 BTC per Triggers at minimum for send operation.</p>
        <p>Please ensure that you have sufficient BTC balance in your wallet</p>
        <p>Counterparty Blockchain may take upto 3 days to confirm a transaction.</p>
      </div>
    </div>
    <div class="modal-footer">
      <div class="mr-auto text-dark">Agree:</div>
      <div> <span class="text-white font-weight-bold font-sm"><input type="checkbox" id="disclaim"
            (click)="myFunction()"></span> </div>
    </div>
    <div>
      <button type="button" class="btn btn-secondary" (click)="modal.close()">Ok</button>
    </div>

  </form>
</ng-template>
<!-- swap modal -->

<ng-template #swap let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Token Swap Agreement</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <object data="./assets/swap_terms.html" type="text/html" style="width:100%; height:29em;"></object>
    <input type="checkbox" id="accept" [(ngModel)]="accept">
    <label for="accept" class="text-dark">&nbsp;&nbsp;I accept terms and conditions for token swapping.</label>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">{{'HOME.CANCEL'}}</button>
    <button type="button" class="btn btn-success" (click)="swapCurrency();modal.close()"
      [disabled]="!accept">Swap</button>
  </div>
</ng-template>
<!-- <ng-template #openmodal let-modal>
  <div class="modal-header">
  </div>
  <div class="modal-body text-center">
    <div  class="text-center">
      <i ></i>
    </div>
    <div>
      <h6 class="batchmsg">SEND IS IN PROCESS AND WILL BE CLONE IN NEXT BATCH</h6>
    </div>
  </div>
  <div class="modal-footer">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
  </div>
</ng-template> -->