.profile-picture{
    width: 50px;
    height: auto !important;
    border-radius: 50% !important;
    position: relative;
    top: -8px;
}
.back-side-addressproof{
    margin-top: -19px;
}
.profile-picture-addressproof{
    top: -30px;
}
.btn-green-savechanges{
    background: #549426 !important;
    border-radius: 1.25rem !important;
    width: 145px;
}