.form-control:active{
    border: 1px solid cornflowerblue;
}

.resizable-widget{
    min-height: 300px !important;
    border:1px solid #a5a5a5;
    overflow: hidden;
}
.btc-balance{
    background-color: #181d2b !important;
}
.text-white{
    color: #96979a !important;
}
.bg_new_class {
    padding-bottom: 33px !important;
}
.text-box-row{
    margin-top: 0.4rem;
}
.asset-left-pad{
    padding-right: 0.3rem !important;
}
.asset-right-pad{
    padding-left: 0.3rem !important;
}
.deposit-withdraw-btn {
    width: 89px;
}
.balance_assets .font-sm{
    margin-right: 10px;
    margin-bottom: 10px;

}
.tab-pan-wrap{
position: relative;

}

.balance_assets{
    position: absolute;
    right: 37px;
    top: -41px;
}
.balance_assets .deposit-withdraw-btn {
    width: 57px !important;
}
.deposit-withdraw-btn .diposit-hover{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top:0px;
    left:-12px;
    -moz-transition:all 600ms linear;-webkit-transition:all 600ms linear;-ms-transition:all 600ms linear;-o-transition:all 600ms linear;transition:all 600ms linear;

}
.deposit-withdraw-btn{
    position: relative;
}
.deposit-withdraw-btn:hover .diposit-hover{
    opacity: 1;
    visibility: visible;
    top:-18px;
    left:-12px;
}
.resizable-widget{
    min-height:auto;height:340px;
}