<div [ngResizable]="data.resize" class="custom-bg-dark p-2 pl-3 pr-3 rounded resizable-widget">

  <button (click)="reset()" class="reset d-none">reset</button>
  <!-- <button (click)="warnKyc(content)" class="d-none" id="warn">click</button> -->
  <ngb-tabset justify="fill" *ngIf="!market" activeId="limit">
    <ngb-tab id="market">
      <ng-template ngbTabTitle>
        <h5>{{'HOME.MARKET'|translate}}</h5>
      </ng-template>
      <ng-template ngbTabContent>
        <ngb-tabset type="pills">
          <ngb-tab>
            <ng-template ngbTabTitle>
              <span (click)="reset()" class="text-left">{{'HOME.BUY'|translate}}</span>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="tab-pane tab-pan-wrap" id="market-buy" role="tabpanel" aria-labelledby="market-buy-tab">
                <span class="balance_assets">
                  <span class="font-sm ">{{selelectedSellingAssetBalance}}<small> {{selectedSellingAssetText |
                        uppercase}}</small>
                  </span>
                  <span class="font-xs mr-1 deposit-withdraw-btn" *ngIf="valid">
                    <span class="diposit-hover">{{'HOME.DEPOSIT'|translate}}</span>
                    <img src="../../assets/img/send.png" style="width: 20px;" routerLink="/deposit-funds" />

                  </span>
                  <span class="font-xs mr-1 deposit-withdraw-btn" *ngIf="!valid">
                    <span class="diposit-hover">{{'HOME.RCV'|translate}}</span>
                    <img src="../../assets/img/pay.png" style="width: 20px;" routerLink="/my-wallet" />
                  </span>

                </span>
                <div class="form-row">
                  <div class="col-12 col-md-4 text-left">
                    <label for="inputBuyBTC" class="col-form-label">{{'HOME.BUYNGAMNT'|translate}}</label>
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="input-group">
                      <input numeric numericType="decimal" class="form-control form-control-sm rounded"
                        id="inputOnlyBuyAmount" placeholder="0" [(ngModel)]="onlyBuyAmount" (keyup)="getBuyVal($event)"
                        #bam="ngModel" [class.is-invalid]="bam.dirty&&bam.invalid">
                      <div class="input-group-append">
                        <div class="input-group-text bg-transparent border-0 text-white">{{selectedBuyingAssetText}}
                        </div>
                      </div>
                    </div>
                    <span class="text-danger" *ngIf="bam.dirty&&bam.invalid">{{'HOME.ENTRVALIDAMNT'|translate}}</span>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-12 col-md-4 text-left">
                    <label for="inputBuyUSD" class="col-form-label">{{'HOME.PRICE'|translate}}</label>
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="input-group">
                      <input numeric numericType="decimal" class="form-control form-control-sm rounded"
                        id="inputOnlyBuyPrice" placeholder="0" [(ngModel)]="onlyBuyPrice" readonly>
                      <div class="input-group-append">
                        <div class="input-group-text bg-transparent border-0 text-white">{{selectedSellingAssetText}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-12 col-md-4 text-left">
                    <label for="inputBuyUSD" class="col-form-label">{{'HOME.TOTALPRICE'|translate}}</label>
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="input-group mb-2">
                      <input numeric numericType="decimal" class="form-control form-control-sm rounded"
                        id="inputOnlyBuyTotalPrice" placeholder="0" [(ngModel)]="onlyBuyTotalPrice" disabled>
                      <div class="input-group-append">
                        <div class="input-group-text bg-transparent border-0 text-white">{{selectedSellingAssetText}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row mb-2 ">
                  <div class="col-12 col-md-8 offset-md-4">
                    <button type="button" id="mbuy" class="btn-green onlyBuyBtn btn" (click)="marketBuy()"
                      [disabled]="bam.pristine || bam.invalid">{{'HOME.BUY'|translate}}</button>
                  </div>
                </div>
                <span class="onlyBuyError text-red" style="display:none;">{{'HOME.ORDRBKRCHD'|translate}}
                </span>
              </div>
            </ng-template>

          </ngb-tab>

          <ngb-tab>
            <ng-template ngbTabTitle>
              <span (click)="reset()" class="text-left">{{'HOME.SELL'|translate}}</span>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="tab-pane tab-pan-wrap" id="market-sell" role="tabpanel" aria-labelledby="market-sell-tab">
                <span class="balance_assets">

                <span class="font-sm">{{selelectedBuyingAssetBalance}}<small>
                    {{selectedBuyingAssetText | uppercase}}</small></span>
                <span class="font-xs mr-1 deposit-withdraw-btn">
                  <span class="diposit-hover">{{'HOME.RCV'|translate}}</span>
                  <img src="../../assets/img/pay.png" style="width: 20px;" routerLink="/my-wallet" />
                </span>


                </span>

                <div class="form-row">
                  <div class="col-12 col-md-4 text-left">
                    <label for="inputSellBTC" class="col-form-label">{{'HOME.SELLINGAMNT'|translate}}</label>
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="input-group">
                      <input numeric numericType="decimal" class="form-control form-control-sm rounded"
                        id="inputOnlySellAmount" placeholder="0" [(ngModel)]="onlySellAmount"
                        (keyup)="getSellVal($event)" #sam="ngModel" [class.is-invalid]="sam.dirty&&sam.invalid">
                      <div class="input-group-append">
                        <div class="input-group-text bg-transparent border-0 text-white">{{selectedBuyingAssetText}}
                        </div>
                      </div>
                    </div>
                    <span class="text-danger" *ngIf="sam.dirty&&sam.invalid">{{'HOME.ENTRVALIDAMNT'|translate}}</span>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-12 col-md-4 text-left">
                    <label for="inputSellUSD" class="col-form-label">{{'HOME.PRICE'|translate}}</label>
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="input-group">
                      <input numeric numericType="decimal" class="form-control form-control-sm rounded"
                        id="inputOnlySellPrice" placeholder="0" [(ngModel)]="onlySellPrice" disabled>
                      <div class="input-group-append">
                        <div class="input-group-text bg-transparent border-0 text-white">{{selectedSellingAssetText}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-12 col-md-4 text-left">
                    <label for="inputSellUSD" class="col-form-label">{{'HOME.TOTALPRICE'|translate}}</label>
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="input-group mb-2">
                      <input numeric numericType="decimal" class="form-control form-control-sm rounded"
                        id="inputOnlySellTotalPrice" placeholder="0" [(ngModel)]="onlySellTotalPrice" disabled>
                      <div class="input-group-append">
                        <div class="input-group-text bg-transparent border-0 text-white">{{selectedSellingAssetText}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row mb-2">
                  <div class="col-12 col-md-8 offset-md-4">
                    <button numeric numericType="decimal" id="msell" class="btn-red onlySellBtn btn"
                      (click)="marketSell()" [disabled]="sam.invalid || sam.pristine">{{'HOME.SELL'|translate}}</button>
                  </div>
                </div>
                <span class="onlySellError text-red" style="display:none;">{{'HOME.ORDRBKRCHD'|translate}}
                </span>
              </div>
            </ng-template>
          </ngb-tab>

        </ngb-tabset>

      </ng-template>
    </ngb-tab>

    <ngb-tab id="limit">
      <ng-template ngbTabTitle>
        <h5 (click)="reset()">{{'HOME.LIMIT'|translate}}</h5>
      </ng-template>
      <ng-template ngbTabContent>
        <ngb-tabset type="pills">
          <ngb-tab>
            <ng-template ngbTabTitle>
              <span (click)="reset()" class="text-left">{{'HOME.BUY'|translate}}</span>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="tab-pane tab-pan-wrap" id="market-buy" role="tabpanel" aria-labelledby="market-buy-tab">
                <span class="balance_assets">
                  <span class="font-sm ">{{selelectedSellingAssetBalance}}<small> {{selectedSellingAssetText |
                        uppercase}}</small>
                  </span>
                  <span class="font-xs mr-1 deposit-withdraw-btn" *ngIf="valid">
                    <span class="diposit-hover">{{'HOME.DEPOSIT'|translate}}</span>
                    <img src="../../assets/img/send.png" style="width: 20px;" routerLink="/deposit-funds" />

                  </span>
                  <span class="font-xs mr-1 deposit-withdraw-btn" *ngIf="!valid">
                    <span class="diposit-hover">{{'HOME.RCV'|translate}}</span>
                    <img src="../../assets/img/pay.png" style="width: 20px;" routerLink="/my-wallet" />
                  </span>

                </span>
                <div class="form-row">
                  <div class="col-12 col-md-4 text-left">
                    <label for="inputBuyBTC" class="col-form-label">{{'HOME.BUYNGAMNT'|translate}}</label>
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="input-group">
                      <input numeric numericType="decimal" class="form-control form-control-sm rounded" placeholder="0"
                        [(ngModel)]="limitAmount" (keyup)="validateLimit()" #bam="ngModel"
                        [class.is-invalid]="bam.dirty&&bam.invalid" required>
                      <div class="input-group-append">
                        <div class="input-group-text bg-transparent border-0 text-white">{{selectedBuyingAssetText}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-12 col-md-4 text-left">
                    <label for="inputBuyUSD" class="col-form-label">{{'HOME.PRICE'|translate}}</label>
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="input-group">
                      <input numeric numericType="decimal" class="form-control form-control-sm rounded"
                        [(ngModel)]="limitPrice" placeholder="0" name="lpr" #lpr="ngModel" (keyup)="validateLimit()"
                        [class.is-invalid]="lpr.dirty&&limitPrice<0.00000001" required>
                      <div class="input-group-append">
                        <div class="input-group-text bg-transparent border-0 text-white">{{selectedSellingAssetText}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-12 col-md-4 text-left">
                    <label for="inputBuyUSD" class="col-form-label">{{'HOME.TOTALPRICE'|translate}}</label>
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="input-group mb-2">
                      <input numeric numericType="decimal" class="form-control form-control-sm rounded"
                        [(ngModel)]="limitValue" placeholder="0" readonly name="lval" [value]="(limitPrice*limitAmount).toFixed(8)">
                      <div class="input-group-append">

                        <div class="input-group-text bg-transparent border-0 text-white">{{selectedSellingAssetText}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row mb-2 ">
                  <div class="col-12 col-md-8 offset-md-4">
                    <button type="button" id="mbuy" class="btn-green onlyBuyBtn btn" (click)="limitBuy()"
                      [disabled]="bam.pristine || bam.invalid||validateLimit()">{{'HOME.BUY'|translate}}</button>

                  </div>
                </div>
                <span class="onlyBuyError text-red" style="display:none;">{{'HOME.ORDRBKRCHD'|translate}}
                </span>
              </div>
            </ng-template>
          </ngb-tab>

          <ngb-tab>
            <ng-template ngbTabTitle>
              <span (click)="reset()" class="text-left">{{'HOME.SELL'|translate}}</span>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="tab-pane tab-pan-wrap" id="market-buy" role="tabpanel" aria-labelledby="market-buy-tab">
                <span class="balance_assets">
                  <span class="font-sm">{{selelectedBuyingAssetBalance}}<small>
                      {{selectedBuyingAssetText | uppercase}}</small></span>
                  <span class="font-xs mr-1 deposit-withdraw-btn">
                    <span class="diposit-hover">{{'HOME.RCV'|translate}}</span>
                    <img src="../../assets/img/pay.png" style="width: 20px;" routerLink="/my-wallet" />
                  </span>

                  </span>
                <div class="form-row">
                  <div class="col-12 col-md-4 text-left">
                    <label for="inputBuyBTC" class="col-form-label">{{'HOME.SELLINGAMNT'|translate}}</label>
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="input-group">
                      <input numeric numericType="decimal" class="form-control form-control-sm rounded" placeholder="0"
                        [(ngModel)]="limitAmount" (keyup)="validateLimit()" #bam="ngModel"
                        [class.is-invalid]="bam.dirty&&bam.invalid" required>
                      <div class="input-group-append">
                        <div class="input-group-text bg-transparent border-0 text-white">{{selectedBuyingAssetText}}
                        </div>
                      </div>
                    </div>
                   </div>
                </div>
                <div class="form-row">
                  <div class="col-12 col-md-4 text-left">
                    <label for="inputBuyUSD" class="col-form-label">{{'HOME.PRICE'|translate}}</label>
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="input-group">

                      <input numeric numericType="decimal" class="form-control form-control-sm rounded"
                        [(ngModel)]="limitPrice" placeholder="0" name="lpr" #lpr="ngModel" (keyup)="validateLimit()"
                        [class.is-invalid]="lpr.dirty&&limitPrice<0.00000001" required>
                      <div class="input-group-append">
                        <div class="input-group-text bg-transparent border-0 text-white">{{selectedSellingAssetText}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-12 col-md-4 text-left">
                    <label for="inputBuyUSD" class="col-form-label">{{'HOME.TOTALPRICE'|translate}}</label>
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="input-group mb-2">

                      <input numeric numericType="decimal" class="form-control form-control-sm rounded"
                        [(ngModel)]="limitValue" placeholder="0" readonly name="lval" [value]="(limitPrice*limitAmount).toFixed(8)">
                      <div class="input-group-append">

                        <div class="input-group-text bg-transparent border-0 text-white">{{selectedSellingAssetText}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row mb-2 ">
                  <div class="col-12 col-md-8 offset-md-4">
                    <button type="button" id="msell" class="btn-red onlyBuyBtn btn" (click)="limitSell()"
                      [disabled]="bam.pristine || bam.invalid||validateLimit()">{{'HOME.SELL'|translate}}</button>

                  </div>
                </div>
                <span class="onlyBuyError text-red" style="display:none;">{{'HOME.ORDRBKRCHD'|translate}}
                </span>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle>
        <h5 (click)="reset()">{{'HOME.STPLIMIT'|translate}}</h5>
      </ng-template>
      <ng-template ngbTabContent>
        <ngb-tabset type="pills">
          <ngb-tab>
            <ng-template ngbTabTitle>
              <span (click)="reset()" class="text-left">{{'HOME.BUY'|translate}}</span>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="tab-pane tab-pan-wrap" id="market-buy" role="tabpanel" aria-labelledby="market-buy-tab">
                <span class="balance_assets">

                  <span class="font-sm ">{{selelectedSellingAssetBalance}}<small> {{selectedSellingAssetText |
                        uppercase}}</small>
                  </span>
                  <span class="font-xs mr-1 deposit-withdraw-btn" *ngIf="valid">
                    <span class="diposit-hover">{{'HOME.DEPOSIT'|translate}}</span>
                    <img src="../../assets/img/send.png" style="width: 20px;" routerLink="/deposit-funds" />

                  </span>
                  <span class="font-xs mr-1 deposit-withdraw-btn" *ngIf="!valid">
                    <span class="diposit-hover">{{'HOME.RCV'|translate}}</span>
                    <img src="../../assets/img/pay.png" style="width: 20px;" routerLink="/my-wallet" />
                  </span>

                </span>
                <div class="form-row">
                  <div class="col-12 col-md-4 text-left">
                    <label for="inputBuyBTC" class="col-form-label">{{'HOME.AMOUNT'|translate}}</label>
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="input-group">
                      <input numeric numericType="decimal" class="form-control form-control-sm rounded" placeholder="0"
                        [(ngModel)]="stopLossQuantity" #bam="ngModel" pattern="\d+(\.\d{1,6})?"
                        [class.is-invalid]="bam.dirty&&bam.invalid">

                      <div class="input-group-append">
                        <div class="input-group-text bg-transparent border-0 text-white">{{selectedBuyingAssetText}}
                        </div>
                      </div>
                    </div>
                    <span class="text-danger" *ngIf="bam.dirty&&bam.invalid">{{'HOME.ENTRVALIDAMNT'|translate}}</span>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-12 col-md-4 text-left">
                    <label for="inputBuyUSD" class="col-form-label">{{'HOME.STPLIMITPRC'|translate}}</label>
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="input-group">
                      <input numeric numericType="decimal" class="form-control form-control-sm rounded"
                        id="stopLossPrice" placeholder="0" [(ngModel)]="stopLossPrice" (keyup)="nonNg($event)" name="b"
                        #b="ngModel" [class.is-invalid]="b.dirty&&b.invalid||stopLossPrice<0" required
                        pattern="\d+(\.\d{1,8})?">

                      <div class="input-group-append">
                        <div class="input-group-text bg-transparent border-0 text-white">{{selectedSellingAssetText}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-12 col-md-4 text-left">
                    <label for="inputBuyUSD" class="col-form-label">{{'HOME.TRIGGERPRC'|translate}}</label>
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="input-group mb-2">
                      <input numeric numericType="decimal" class="form-control form-control-sm rounded"
                        id="stopLossTriggerPrice" placeholder="0" [(ngModel)]="stopLossTriggerPrice"
                        (keyup)="nonNg($event)" name="c" #c="ngModel"
                        [class.is-invalid]="c.dirty&&c.invalid||stopLossTriggerPrice<0" required
                        pattern="\d+(\.\d{1,8})?">
                      <div class="input-group-append">
                        <div class="input-group-text bg-transparent border-0 text-white">{{selectedSellingAssetText}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row mb-2 ">
                  <div class="col-12 col-md-8 offset-md-4">
                    <button type="button" id="mbuy" class="btn-green onlyBuyBtn btn" (click)="buyStopLoss()"
                      [disabled]="bam.pristine || bam.invalid">{{'HOME.BUY'|translate}}</button>
                  </div>
                </div>
                <span class=" text-red stopLossError" style="display:none;"> </span>
              </div>
            </ng-template>
          </ngb-tab>

          <ngb-tab>
            <ng-template ngbTabTitle>
              <span (click)="reset()" class="text-left">{{'HOME.SELL'|translate}}</span>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="tab-pane tab-pan-wrap" id="market-sell" role="tabpanel" aria-labelledby="market-sell-tab">
                <span class="balance_assets">
                  <span class="font-sm">{{selelectedBuyingAssetBalance}}<small>
                      {{selectedBuyingAssetText | uppercase}}</small></span>
                  <span class="font-xs mr-1 deposit-withdraw-btn">
                    <span class="diposit-hover">{{'HOME.RCV'|translate}}</span>
                    <img src="../../assets/img/pay.png" style="width: 20px;" routerLink="/my-wallet" />
                  </span>
                </span>


                <div class="form-row">
                  <div class="col-12 col-md-4 text-left">
                    <label for="inputSellBTC" class="col-form-label">{{'HOME.AMOUNT'|translate}}</label>
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="input-group">
                      <input numeric numericType="decimal" class="form-control form-control-sm rounded" placeholder="0"
                        [(ngModel)]="stopLossQuantity" #sam="ngModel"
                        [class.is-invalid]="sam.dirty&&sam.invalid||stopLossQuantity<0">
                      <div class="input-group-append">
                        <div class="input-group-text bg-transparent border-0 text-white">{{selectedBuyingAssetText}}
                        </div>
                      </div>
                    </div>
                    <span class="text-danger" *ngIf="sam.dirty&&sam.invalid">{{'HOME.ENTRVALIDAMNT'|translate}}</span>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-12 col-md-4 text-left">
                    <label for="inputSellUSD" class="col-form-label">{{'HOME.STPLIMITPRC'|translate}}</label>
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="input-group">
                      <input numeric numericType="decimal" class="form-control form-control-sm rounded"
                        id="stopLossPrice" placeholder="0" [(ngModel)]="stopLossPrice" (keyup)="nonNg($event)" required
                        pattern="\d+(\.\d{1,8})?" name="b" #b="ngModel"
                        [class.is-invalid]="b.dirty&&b.invalid||stopLossPrice<0">
                      <div class="input-group-append">
                        <div class="input-group-text bg-transparent border-0 text-white">{{selectedSellingAssetText}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-12 col-md-4 text-left">
                    <label for="inputSellUSD" class="col-form-label">{{'HOME.TRIGGERPRC'|translate}}</label>
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="input-group mb-2">
                      <input numeric numericType="decimal" class="form-control form-control-sm rounded"
                        id="stopLossTriggerPrice" placeholder="0" [(ngModel)]="stopLossTriggerPrice"
                        (keyup)="nonNg($event)" name="c" #c="ngModel"
                        [class.is-invalid]="c.dirty&&c.invalid||stopLossTriggerPrice<0" required
                        pattern="\d+(\.\d{1,8})?">
                      <div class="input-group-append">
                        <div class="input-group-text bg-transparent border-0 text-white">{{selectedSellingAssetText}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row mb-2">
                  <div class="col-12 col-md-8 offset-md-4">
                    <button numeric numericType="decimal" id="msell" class="btn-red onlySellBtn btn"
                      (click)="sellStoploss()" [disabled]="sam.invalid || sam.pristine">{{'HOME.SELL'|translate}}</button>
                  </div>
                </div>
                <span class=" text-red stopLossError" style="display:none;"> </span>
              </div>
            </ng-template>
          </ngb-tab>

        </ngb-tabset>
      </ng-template>
    </ngb-tab>

  </ngb-tabset>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{'HOME.WARNING'|translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="text-danger">{{'HOME.WARNINGMSG'|translate}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">{{'HOME.OKAY'|translate}}</button>
  </div>
</ng-template>