<div class="container">
    <div class="card card-login mx-auto mt-3">
        <!-- <div class="card-header text-center text-blue bg-pbgreen bitrump-logo">
          <span>TOMYA</span>
        </div>
          <div class="card-header text-center text-blue p-0">
            <h5 class="p-3 mb-0" style="color: #86bbb8;font-size: 18px;font-weight: lighter;">{{data.exchange|uppercase}} FORGOT-PASSWORD</h5>
          </div> -->
          <div class="login-text text-blue">
            <span class="p-3 mb-0" style="color: #564fdc; font-size:23px;">{{'HOME.FMSG'|translate}}</span>
            <img class="logo" src ="./assets/img/Tomya-Pro-White.svg" alt="">
          </div>
     <!-- new -->
     <div class="card-body user-credentials p-3">
      <form name="form" #f="ngForm" (ngSubmit)="f.valid && forgotPassword(true)">
    <!-- <form name="login_form" data-ng-controller="formCtrl" id="login_form" data-ng-submit="forgotPassword(login_form.$valid)" novalidate> -->
      <div class="form-group">
        <label for="signupInputEmail">{{'HOME.EADD'|translate}}</label><span class="required">*</span>
        <input class="form-control registration-input validate" [class.is-invalid]="email.dirty && email.invalid" name="email"
        id="signupInputEmail" [(ngModel)]="forgetpwdObj.email" placeholder="{{forgetpwdObj.email}}"
        appForbiddenName="bob" required #email="ngModel">
      <!-- <span class="text-danger" *ngIf="email.dirty && email.invalid">Enter a valid email</span> -->
      </div>
      <div class="form-group">
        <label for="signupInputPassword">{{'HOME.PASSWORD'|translate}}</label><span class="required">*</span>
        <input class="form-control registration-input validate" name="password" id="signupInputPassword" name='password'
        [(ngModel)]="forgetpwdObj.password" type="password" placeholder="" (blur)="checkPassword()"
        (keyup)="confirmPassword($event)" required #password="ngModel"
        [class.is-invalid]="password.invalid&&password.dirty">
        <span toggle="#signupInputPassword" (click)="showHide()" class="fa fa-fw fa-eye-slash field-icon showHide-password"></span>
      <!-- <span class="text-danger" *ngIf="password.dirty&&password.invalid">
        The password should be of minimum 8 characters and must contain at least one uppercase, one lowercase, number and a special character($@#.!).
      </span> -->
        <!-- <input class="form-control" id="forgotpasswordInputNewPassword" [(ngModel)]="password" type="password" placeholder="Type New Password" required pattern="(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,20}" #pass="ngModel" [class.is-invalid]="pass.invalid&&pass.dirty"> -->
        <!-- <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
          Password is required
     </div> -->
      </div>
       <div class="form-group">
        <label for="signupInputRetypePassword">{{'HOME.RPASSWORD'|translate}}</label><span class="required">*</span>
        <!-- <input class="form-control" id="forgotpasswordInputRetypeNewPassword" [(ngModel)]="repassword" type="password" placeholder="Retype New Password" data-ng-keyup="confirmPassword()" required pattern="(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,20}" #pass2="ngModel" [class.is-invalid]="pass2.invalid&&pass2.dirty&&password!=repassword" >
        <span class="confirm_password_text"></span> -->
        <input class="form-control registration-input validate" name="repassword1" id="signupInputRetypePassword" type="password"
        placeholder="" [(ngModel)]="forgetpwdObj.repassword1" (keyup)="confirmPassword($event)" required #repassword1="ngModel"
        [class.is-invalid]="repassword1.invalid&&repassword1.dirty">
      <span class="confirm_password_text"></span>
      </div>
      <div class="form-group">
        <label for="forgotpasswordInputSecureToken">{{'HOME.GSTGS'|translate}}</label><span class="required">*</span>
        <input class="form-control registration-input" id="forgotpasswordInputSecureToken" [(ngModel)]="forgetpwdObj.secureToken" name="secure_token" type="password" #secure_token="ngModel" required>
      </div>
      <button  class="btn login_btn btn-block submit_btn" >{{'HOME.CHNGPWD'|translate}}</button>
    <!-- </form> -->
  </form>
    <div class="col-12 mt-3 text-center"><a routerLink="/signup">{{'HOME.LMS'|translate}}</a></div>
  </div>
     <!-- new -->
    </div>
  </div>
