<app-navbar></app-navbar>
<app-loader></app-loader>
<div class="content-wrapper pt-0 pl-3">

  <div class="row d-flex" data-ng-init="loginDuration();" data-ng-controller="settingCtrl">
    <div class="col-lg-7 col-12 mt-3 align-self-stretch" data-ng-init="getUserAppSetting()">
      <div class="custom-bg-dark p-2 rounded h-100"> <span class="font-md text-white-background mr-2 pl-3">{{'HOME.TOMYASTNGS'|translate}}</span>
        <div class="w-100"></div>

        <ul class="list-group mt-3">
          <div class="col-12 col-lg-5 mb-2 text-white ">{{'HOME.TWOFCTRAUTH'|translate}}</div>
          <li class="list-group-item bg-transparent">
            <div class="row d-flex align-items-center">
              <div class="col-12 col-lg-5 mb-2">{{'HOME.LGN'|translate}}</div>
              <div class="col-12 col-lg-7">
                <div class="custom-switch custom-switch-label-onoff">
                  <div class="well">
                    <i class="fa fa-toggle-on active" *ngIf="(twoFactorStatus==1)" (click)="changeStatusFor2FactorAuth(authCode);"></i>
                    <i class="fa fa-toggle-on fa-rotate-180 inactive" *ngIf="(twoFactorStatus==0)" (click)="changeStatusFor2FactorAuth(authCode);"></i>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item bg-transparent">
            <button class="btn btn-sm btn-green-savechanges" (click)="passModal(passChange)">{{'HOME.STNGSPWD'|translate}}</button>
          </li>
        </ul>
      </div>
    </div>
    <!-- CHANGE PASSWORD Modal-->
    <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changepasswordModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-blue" id="changepasswordModalLabel">{{'HOME.CHNGPWD'|translate}}</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="changePasswordForm" name="changePaswordForm" data-ng-submit="changePassword(changePaswordForm.$valid)"
              autocomplete="off" novalidate>
              <div class="form-row">
                <div class="col-4 text-right">
                  <label for="inputoldpassword" class="col-form-label">{{'HOME.OLDPSSWD'|translate}}</label>
                </div>
                <div class="col-8">
                  <input type="password" class="form-control" id="inputoldpassword" name="oldPassword" data-ng-model="oldPassword"
                    placeholder="Old Password" required>
                </div>
              </div>
              <div class="form-row mt-2">
                <div class="col-4 text-right">
                  <label for="inputnewpassword" class="col-form-label">{{'HOME.NEWPSWD'|translate}}</label>
                </div>
                <div class="col-8">
                  <input type="password" class="form-control" id="inputnewpassword" name="newPassword" data-ng-model="newPassword"
                    placeholder="New Password" data-ng-keyup="matchPassword()" required>
                </div>
              </div>
              <div class="form-row mt-2">
                <div class="col-4 text-right">
                  <label for="inputretype-newpassword" class="col-form-label">{{'HOME.RETYPPSWD'|translate}}</label>
                </div>
                <div class="col-8">
                  <input type="password" class="form-control" id="inputretype-newpassword" name="retypePassword"
                    data-ng-model="retypePassword" placeholder="Retype New Password" data-ng-keyup="matchPassword()"
                    required>
                  <small class="match_error"></small>
                </div>
              </div>

              <div class="form-row mt-2 mb-2">
                <div class="col-8 offset-4">
                  <button type="submit" class="btn btn-green generate_password_otp_btn" disabled>{{'HOME.CHNGPWD'|translate}}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>



  </div>


</div>

<!-- qr modal -->
<ng-template #authCode let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{'HOME.GOOGLEAUTH'|translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <div class="p-3" id="qrcd">
      <qrcode [qrdata]="twoFactorAuthKey" [size]="256" [level]="'M'"></qrcode>
    </div>
    <form>
      <p *ngIf="translate.currentLang=='English'">
      <input type="text" class="form-control" [(ngModel)]="google_auth_otp" name="otp" placeholder="Google Authentication Code"
        autofocus autocomplete="off">
      </p>
      <p *ngIf="translate.currentLang!='English'">
        <input type="text" class="form-control" [(ngModel)]="google_auth_otp" name="otp" placeholder="Google Kimlik Doğrulama Kodu"
          autofocus autocomplete="off">
        </p>
      <button type="submit" class="btn btn-success m-3" (click)="sendGoogleAuthOtp(); modal.close();">{{'HOME.SMT'|translate}}</button>
    </form>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>

<!-- change password modal -->
<ng-template #passChange let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{'HOME.CHNGPWD'|translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <div class="form-group row">
      <div class="col-md-4 text-right">{{'HOME.OLDPSSWD'|translate}}</div>
      <div class="col-md-8">
        <p *ngIf="translate.currentLang == 'English'">
        <input type="password" class="form-control" [(ngModel)]="oldPassword" placeholder="Old Password">
      </p>
      <p *ngIf="translate.currentLang != 'English'">
        <input type="password" class="form-control" [(ngModel)]="oldPassword" placeholder="Eski Şifrenizi Girin">
      </p>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-4 text-right">{{'HOME.NEWPSWD'|translate}}</div>
      <div class="col-md-8">
        <p *ngIf="translate.currentLang == 'English'">
        <input type="password" class="form-control" [(ngModel)]="newPassword" placeholder="New Password">
      </p>
      <p *ngIf="translate.currentLang != 'English'">
        <input type="password" class="form-control" [(ngModel)]="newPassword" placeholder="Yeni Şifrenizi Girin">
      </p>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-4 text-right">{{'HOME.CONFRMNWPSW'|translate}}</div>
      <div class="col-md-8">
        <p *ngIf="translate.currentLang == 'English'">
        <input type="password" class="form-control" [(ngModel)]="retypePassword" (keyup)="matchPassword()"
          placeholder="Confirm New Password">
        </p>
        <p *ngIf="translate.currentLang != 'English'">
          <input type="password" class="form-control" [(ngModel)]="retypePassword" (keyup)="matchPassword()"
            placeholder="Şifrenizi Tekrar Girin">
          </p>
        </div>
    </div>
    <small class="match_error"></small>
    <div class="form-group row">
      <div class="col-md-4"></div>
      <div class="col-md-8 text-left">
        <button class="btn btn-success" (click)="changePassword(true); modal.close();" *ngIf="match">
          {{'HOME.CHNGPWD'|translate}}
        </button>
      </div>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>
